<h1>Welcome Guest. Please enter your item below:</h1>
<form action='/checkout' method='post'>
<label for='item'>Item:</label>
<input type='text' id='item' name='item'>
<button type='submit' value='submit'>Submit</button>
</form>
