<h1>Shopping</h1>

<form method="post" action="/checkout">
  <p>Put what you wanna buy here:</p>
  <textarea id="name" name="item"></textarea>
  <br>
  <button type="submit" value="submit">Submit</button>
</form>
